@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    background-image: linear-gradient( to right, pink,green);
}

main {

    background-color: honeydew;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
    padding: 10px;
    margin: auto;

}

h1{

    color:aquamarine;

}

h2{

    color:brown;


}

p {
    text-align: justify;


}